/* {
  outline: 1px solid red;
}*/

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato-Regular.ttf');
}

#content {
  position: absolute;
  max-width: 1366px;
  width: 100vw;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#intro {
  position: relative;
  background-image: url("../img/intro_background.png");
}

.sections {
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 56.2vw;
  max-height: 768px;
}

#intro p:nth-of-type(1) {
  position: absolute;
  top: 22%;
  left: 50%;
  font-family: Lato-Bold;
  font-size: 80px;
  color: #462633;
}

#intro p:nth-of-type(2) {
  position: absolute;
  top: 57%;
  left: 50%;
  font-family: Lato-Regular;
  font-size: 36px;
  color: #462633;
}

#intro img {
  position: absolute;
  top: 4%;
  right: 3%;
}

#navbar {
  position: relative;
  height: 4.9vw;
  max-height: 67px;
  background: #462633;
}

#navbar a {
  position: relative;
  display: inline-block;
  height: 4.9vw;
  max-height: 67px;
  width: 16.666vw;
  max-width: 227.6px;
  font-family: Lato-Regular;
  font-size: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

#navbar a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#navbar a:hover {
  background: #F8C671;
  color: #462633;
  transition-duration: 0.4s;
}

#navbar a:nth-of-type(6) {
  position: absolute;
  top: 50%;
  right: 0.8%;
  transform: translateY(-50%);
  width: 12.15vw;
  max-width: 166px;
  height: 3.8vw;
  max-height: 52px;
  background: #91224D;
  border: 0.5px solid #CDD0DA;
  border-radius: 12px;
}


#navbar a:nth-of-type(6):hover {
  background: #91224D;
  color: #FFFFFF;
}

#alphabet {
  background-image: url("../img/bck - alphabet.png");
}

.triptychs_wall:nth-of-type(1) {
  background-image: url("../img/bck - triptychs - 1.png");
}

.triptychs_wall:nth-of-type(2) {
  background-image: url("../img/bck - triptychs - 2.png");
}

.triptychs_wall:nth-of-type(3) {
  background-image: url("../img/bck - triptychs - 1.png");
}

.triptychs_wall:nth-of-type(4) {
  background-image: url("../img/bck - triptychs - 2.png");
}

.triptychs_wall:nth-of-type(5) {
  background-image: url("../img/bck - triptychs - 1.png");
}

.triptychs_wall:nth-of-type(6) {
  background-image: url("../img/bck - triptychs - 2.png");
}

.stories_leaf:nth-of-type(1) {
  background-image: url("../img/bck - stories - 1.png");
}

.stories_leaf:nth-of-type(2) {
  background-image: url("../img/bck - stories - 2.png");
}

.stories_leaf:nth-of-type(3) {
  background-image: url("../img/bck - stories - 3.png");
}

.stories_leaf:nth-of-type(4) {
  background-image: url("../img/bck - stories - 2.png");
}
